<div class="container__big-card">

    <div class="big-card__picture">
        <img src="https://ghost.nwdb.info/content/images/2023/08/image--53-.jpg" 
        alt="" srcset="" width="400px">
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Rise of the Angry Earth Announcement</a></h1>
        
    </div>
    
    <div class="big-card__description">
        <p><a href="">
            Ascensão da Terra Indócil
            2 DE OUTUBRO DE 2023 | ATUALIZAÇÕES
            
            
            Saudações, aventureiros!
            
            A Ascensão da Terra Indócil estará disponível para compra e download a partir das 13h BRT (16h UTC) de 3 de outubro. Cavalgue montarias, empunhe uma nova arma, explore terras transformadas e muito mais. Mal podemos esperar para ver os jogadores vivenciando cada novo recurso - incluindo a história por trás da queda da Primeira Luz - em nossa primeira expansão paga. Descubra o próximo capítulo de Aeternum por apenas R$ 88,99. Os novos jogadores podem adquirir o jogo-base junto com a expansão por R$ 196,99 como parte do pacote New World: Edição Elysian.
            
            Dê uma olhada na nossa lista completa das notas de lançamento para obter mais informações sobre a Ascensão da Terra Indócil. Aqui vai um breve resumo para você ficar por dentro das principais novidades
        </a></p>
    </div>

</div>
