<div class="container__big-card">

    <div class="big-card__picture">
        <img src="https://ghost.nwdb.info/content/images/2023/08/image--53-.jpg" 
        alt="" srcset="" width="400px">
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Rise of the Angry Earth Announcement</a></h1>
        
    </div>
    
    <div class="big-card__description">
        <p><a href="">
            Ascensão da Terra Indócil
            Saudações, aventureiros!
            A Ascensão da Terra Indócil estará disponível para compra e download a partir das 13h de 3 de outubro. 
            Cavalgue montarias, empunhe uma nova arma, explore terras transformadas e muito mais.
             Mal podemos esperar para ver os jogadores vivenciando cada novo recurso - incluindo a história por trás da queda da Primeira Luz - em nossa primeira expansão paga. 
             Descubra o próximo capítulo de Aeternum por apenas R$ 88,99.
            
        </a></p>
    </div>

</div>
