<div class="container__small-card">
<div class="container__small-card-content">
    <div class="small-card__picture">
        <img src="{{pictureCover}}" 
        alt="" srcset="" height="120px">
    </div>
    
    <div class="small-card__title">
        <h1><a href="#">{{cardTitle}}</a></h1>
        
    </div>

</div>
      
    
    <!-- <div class="small-card__description">
        <p><a href="">
            Festeje o evento de criadores New World – Chamado das Selvas com este drop de 5 escalas disponível até 31 de outubro às 03:29 BRT. Partindo da Escala 1, os espectadores precisam liberar cada drop antes de acumular progresso rumo à escala seguinte.
        </a></p>
    </div> -->
    
    <div class="container__small-card-separator">
        <hr/>    
    </div>
</div>

